.container {
  position: relative;
  padding: 20px 12px;
  min-height: 100dvh;
  background-color: #302e2b;
}

.logo {
  display: block;
  border-radius: 20px;
  margin: 0 auto;
  width: 148px;
  height: auto;
}

.btnLogin {
  position: absolute;
  top: 20px;
  right: 16px;
  color: white;
  font-size: 2rem;
  font-weight: 500;
  &:hover {
    opacity: 0.7;
    transition: all 0.2s ease-in-out;
  }
}
.btnPlay {
  height: 60px;
  max-width: 460px;
  margin: 0 auto;
  margin-top: 16px;
}
.backLink {
  position: absolute;
  top: 20px;
  left: 20px;
}
.backBtn {
  font-size: 3rem;
  color: #c5c5c4;
}
