.container {
  position: relative;
  padding: 20px 12px;
  min-height: 100dvh;
  background-color: #302e2b;
}

.logo {
  display: block;
  border-radius: 20px;
  margin: 0 auto;
  width: 148px;
  height: auto;
}
