.inputWrapper {
  position: relative;
}

.textFiled {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 12px 0 34px;
  background-color: #373532;
  border: unset;
  border-radius: 4px;
  color: #c7c7c6;
  border: 1px solid #4b4946;
  outline: unset;

  &:hover,
  &:focus {
    border-color: #696866;
  }
}

.inputIcon {
  position: absolute;
  top: 8px;
  left: 4px;
  font-size: 24px;
  color: #9b9a99;
}

.errorMessage {
  margin-top: 12px;
  font-size: 14px;
  color: rgb(174, 67, 67);
}
